---
import { getCollection, render } from "astro:content";
import Faq from "./Faq.svelte";

// get all the faqs
const allFAqs = await getCollection("faqs");
---

<section class="border-b-thick border-black">
  <div class="faq-header">
    <h2
      class="text-[42px] leading-none font-display font-bold py-8 px-[72px] rounded-full border-[3px] border-black inline-block"
    >
      Frequently Asked Questions
    </h2>
  </div>

  <div class="flex flex-col gap-[60px] mb-[100px]">
    {
      allFAqs.map(async (faq, index) => {
        const { Content } = await render(faq);
        return (
          <Faq
            client:only="svelte"
            question={faq.data.question}
            defaultOpen={index === 0}
          >
            <Content />
          </Faq>
        );
      })
    }
  </div>
</section>
