---
import { constants } from "../utils/constants";
---

<section class="pt-12 mb-[90px]">
  <h2 class="mb-7 font-display text-[42px] leading-none font-bold text-center">
    Pricing
  </h2>

  <div class="grid grid-cols-2 border-y-1 border-black pb-5">
    <div class="border-b-2 border-black border-r-1 text-center pt-8">
      <span
        class="font-display font-extralight text-[90px] leading-none relative -top-10"
        >$</span
      >
      <span class="font-display font-bold text-[138px] leading-none">5</span>
      <span class="font-handwriting text-[70px] leading-none relative -left-3"
        >/month</span
      >
    </div>
    <div class="border-b-2 border-black text-center pt-8">
      <span
        class="font-display font-extralight text-[90px] leading-none relative -top-10"
        >$</span
      >
      <span class="font-display font-bold text-[138px] leading-none">50</span>
      <span class="font-handwriting text-[70px] leading-none relative -left-3"
        >/year</span
      >
    </div>
  </div>

  <ul class="checklist mb-8 mx-[72px] grid grid-cols-3 gap-x-[72px]">
    <li>Fresh challenge delivered every Monday</li>
    <li>Real-world component and layout designs</li>
    <li>Clear requirements and specifications</li>
    <li>Build your portfolio one challenge at a time</li>
    <li>Complete Figma file for each challenge</li>
    <li>Detailed style guides with colors and typography</li>
    <li>All necessary images and assets</li>
    <li>Design specifications and measurements</li>
    <li>Challenge solutions are included</li>
    <li>This is a practice-focused program</li>
    <li>You'll develop your own problem-solving skills</li>
    <li>Build confidence through independent work</li>
  </ul>

  <div class="flex justify-center">
    <a href={constants.GUMROAD} class="button action">Accept the Challenge</a>
  </div>
</section>
